<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 p-0 bg-dark">
            <div class="h-1000">
                <app-item-contact [name]="'Luis'" [lastname]="'Sulbaran'"></app-item-contact>
                <app-item-contact [name]="'Francelys'" [lastname]="'Caraballo'"></app-item-contact>
                <app-item-contact [name]="'Pola'" [lastname]="'Sulbaran'"></app-item-contact>
                <app-item-contact [name]="'Jairo'" [lastname]="'Sulbaran'"></app-item-contact>
            </div>
        </div>
    </div>
</div>