<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 p-0 bg-dark">
            <div class="h-1000">
                <app-item-contact *ngFor="let item of listContacts"
                    [name]="item['name']"
                    [lastname]="item['lastname']"
                    [image]="item['image']"
                    (click)="openDetails(item['_id'])"
                    >
                </app-item-contact>
            </div>
        </div>
        <div class="col-sm-9 bg-secondary p-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>